/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Case Problem 1

   dessertWeb Print Styles
   Author: Juozas Kripas
   Date:   03/21/2016

   Filename:         dwprint.css
   Supporting Files: 

*/


